* {
    margin: 0;
    padding: 0;    
    font-family:'Abel', sans-serif;
}

header{
    display:flex;
    height: 150px;
    background-color: rgb(64, 64, 55);
}

header .nav-link {
    color: white;
    
}

header .nav-link:hover {
    color: goldenrod;
}


section{
    padding-top: 30px;
    padding-bottom: 60px;
    background-color:darkkhaki;
}

.parrafo{
    display:grid;
    margin: 0px auto;
    max-width: 460px;
    padding: 20px;
    gap:25px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.parrafo h1, h4 {
    font-size: 19px;
    color: rgb(64, 64, 55);
}



.parrafo p{
    font-size: 18px;
    color: rgb(64, 64, 55);
}


.tab-pane h4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color:rgb(0, 64, 101);
    font-size: 18px;
}

.formulario {
    background-color:rgb(64, 64, 55);
    opacity: .7;
    width:430px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;  
}


.campo {
    margin-bottom: 10px;

}

.campo label{
    color: white;
    font-weight:bold;
    margin-bottom: 5px;
    display: block;
}

.input-text{
    width: 100%;
    
}

.btn {
    width: 390px;
}

#btnHistorialCuatro, #btnHistorialCinco, #btnHistorialSeis{
    margin:15px auto;
}

#historial{
    background-color: rgb(68, 62, 41);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    opacity: .7;
    margin: 0 auto;
    height: 100%;
    width: 430px;
    margin-top: 20px;
    border-radius: 10px;  
}

.tituloHistorial{
    color: white;
}

#historial p{
    color:white;
}






#valorResistivoSeis{
    height: 70px;
}



/*ESTILOS FOOTER*/

footer{

    height: 150px;
    background-color:rgb(64, 64, 55) ;
    display:flex;
    justify-content:space-around;
    align-items: center;
    
}

footer .parrafo-pie{
    text-align: center;
    margin: 0px;
    color: white; 
    font-size: 18px;
    padding: 0px 20px;
}


@media screen and (max-width:500px) {

    .parrafo{
        max-width: 340px; 
    }

    .formulario { 
        width:340px;
    } 

    .btn {
        width: 300px;
    }
}