* {
    margin: 0;
    padding: 0;    
    font-family:'Abel', sans-serif;
}

header{
    display: flex;
    height: 150px;
    background-color: rgb(32, 32, 32);
}

header .nav-link {
    color: white;
    
}

header .nav-link:hover {
    color: goldenrod;
}

.logotipo img{
    width: 200px;
    height: 65px;
    padding-right: 20px;
}


section{
   
    padding-bottom: 60px;
    background-color:rgb(151, 139, 91);
}

.parrafo{
    display:grid;
    margin: 20px auto;
    max-width: 85%;
    padding: 20px;
    gap:25px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.titulo-h1 {
    background-color:rgb(58, 55, 47);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width:100%;
    margin: 0px auto;
    padding: 20px;
    font-size:30px ;
        
}

.tituloHistorial{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.titulo-h1 h1 {
    font-size: 22px;
    color: white;
}

.parrafo h4 {
    font-size: 19px;
    color: white;
}



.parrafo p{
    font-size: 18px;
    color:white;
    padding: 10px;
}


.tab-pane h4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color:rgb(0, 64, 101);
    font-size: 18px;
}

.formulario, .parrafo , #historial{
    background-color:rgb(64, 64, 55);
    opacity: .7;
    width:500px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;  
     
}

.campo {
    margin-bottom: 10px;

}

.campo label{
    color: white;
    font-weight:bold;
    margin-bottom: 5px;
    display: block;
}

.input-text{
    width: 100%;
    
}

.btn {
    width: 100%;
}

#btnHistorial{
    margin:15px auto;
}

.tituloHistorial{
    color: white;
}

.titulo-h4{
    background-color:rgb(58, 55, 47);
    margin: 0 auto;
    width: 500px;
    border-radius: 10px;  
    
}

.titulo-h4 h4{
    color: white;
}

#historial p{
    color:white;
    text-align: center;
}

#valorResistivoSeis{
    height: 70px;
}

#diagrama-Resistencia{
    height: 40px;
}

.resistencia{
    width: 380px;
    height: 80px; 
}

.div-bandas-uno{
    position: relative;
}

.div-resistencia{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-left: 35px;
}

.div-resistencia-uno{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

#firstBand{ 
    width: 16px;
    height: 80px;
    top:-80px;
    left:30%;
}

#secondBand{
    
    width: 16px;
    height: 62px;
    top:-151px;
    left: 40%;
}

#thirdBand{
    
    width: 16px;
    height: 62px;
    top:-213px;
    left: 48%;
}

#fourthBand{   
    width: 16px;
    height: 62px;
    top:-275px;
    left: 55%;
}

#fifthBand{
    width: 16px;
    height: 80px;
    top:-346px;
    left: 64%;
}

#sixthBand{
    width: 16px;
    height: 80px;
    top:-426px;
    left: 70%;
}

/*ESTILOS FOOTER*/

footer{
    height: 150px;
    background-color:rgb(64, 64, 55) ;
    display:flex;
    justify-content:space-around;
    align-items: center;   
}

footer .parrafo-pie{
    text-align: center;
    margin: 0px;
    color: white; 
    font-size: 18px;
    padding: 0px 20px;
}


@media screen and (max-width:576px) {
    
    header{
        height:270px;
    }
    
    .container, .nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }
    .formulario, #historial,.titulo-h4, .parrafo{ 
        width:85%;
    } 
    .titulo-h1 {
        width: 100%;
    }
    .titulo-h1 h1 {
        font-size: 13px;
    }
    .titulo-h4 {
        width: 85%;
        
    }
    .titulo-h4 h4{
        font-size: 13px;
    }

    .btn {
        width: 100%;
    }

    .resistencia{
        width: 315px; 
    }

    #firstBandOne,#firstBandTwo, #firstBandThree{
        width: 11px;
        left:25%;
    }

    #secondBandOne, #secondBandTwo,#secondBandThree{
        width: 11px; 
        left: 42%;
    }

    #thirdBandOne, #thirdBandTwo,#thirdBandThree{
        width: 11px;
        left: 50%;
    }

    #fourthBandOne{
        width: 11px;  
        left: 80%; 
    }

    #fourthBandTwo,#fourthBandThree{
        width: 11px;   
        left: 58%;
    }
    
    #fifthBandTwo{
        width: 11px;
        left: 80%;
    }

    #sixthBandOne{
        width: 11px;
        left: 74%;
    }
  
}

@media screen and (max-width:650px) {

    header{
        height:270px;
    }

    .container, .nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }

    #firstBandOne,#firstBandTwo{
        
        left:25%;
    }
    #secondBandOne,#secondBandTwo{
        
        left: 42%;
    }
    #thirdBandOne, #thirdBandTwo{

        left: 50%;
    }
    #fourthBandOne{  
        left: 72%; 
    }
    #fourthBandTwo{   
        left: 58%;
    }
    #fifthBandTwo{

        left: 68%;
    }
}

@media screen and (max-width:520px) {

    #firstBandOne, #firstBandTwo,#firstBandThree{
        width: 11px;
        left:25%;
    }

    #secondBandOne, #secondBandTwo, #secondBandThree{
        width: 11px;
        left: 40%;
    }

    #thirdBandOne, #thirdBandTwo, #thirdBandThree {
        width: 11px;
        left: 48%;
    }

    #fourthBandOne{  
        width: 11px;
        left: 80%; 
    }
    
    #fourthBandTwo, #fourthBandThree{   
        width: 11px;
        left: 58%;
    }
    
    #fifthBandTwo{
        width: 11px;
        left: 70%;
    }

    #sixthBandTwo{
        width: 11px;
        left: 70%;
    }

}


@media screen and (max-width:400px) {

    .resistencia{
        width: 280px; 
        height: 80px;
    }

    #firstBandOne, #firstBandTwo,#firstBandThree{
        width: 11px;
        left:20%;
    }

    #secondBandOne, #secondBandTwo, #secondBandThree{
        width: 11px;
        top:-151px;
        left: 35%;
    }

    #thirdBandOne, #thirdBandTwo,#thirdBandThree{
        width: 12px;
        top:-213px;
        left: 48%;
    }

    #fourthBandOne{ 
        width: 11px; 
        left: 80%; 
    }

    #fourthBandTwo,#fourthBandThree{ 
        width: 11px;  
        left: 62%;
    }

    #fifthBandOne, #fifthBandTwo{
        width: 11px;
        left: 75%;
    }

    #sixthBandOne{
        width: 11px;
        left: 84%;
    
    }
}